SERVER_PORT=8078
SERVER_CONTEXT_PATH=/echallan-calculator
EGOV_USER_HOST=http://localhost:8085/
EGOV_USER_SEARCH_PATH=/user/_search
EGOV_IDGEN_HOST=http://localhost:8088
EGOV_IDGEN_PATH=egov-idgen/id/_generate
EGOV_LOCATION_HOST=https://13.71.65.215.nip.io/
EGOV_BILLINGSERVICE_HOST=http://localhost:8081
EGOV_BILL_GEN_ENDPOINT=/billing-service/bill/v2/_fetchbill
EGOV_DEMAND_CREATE_ENDPOINT=/billing-service/demand/_create
EGOV_DEMAND_UPDATE_ENDPOINT=/billing-service/demand/_update
EGOV_DEMAND_SEARCH_ENDPOINT=/billing-service/demand/_search
EGOV_CANCEL_BILL_ENDPOINT=/billing-service/bill/v2/_cancelbill
EGOV_CHALLAN_HOST=http://localhost:8079
EGOV_CHALLAN_CONTEXT_PATH=/echallan-services/v1
EGOV_CHALLAN_SEARCH_ENDPOINT=/_search

